<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="controller.js"></script>
</head>
<body ng-app="registrationApp" ng-controller="registrationCtrl" >


    <div>

        <form ng-submit="register()">

            <!--<input type="text" ng-model = "user.name">
            <input type="text" ng-model = "user.mobile">
            <input type="text" ng-model = "user.email">
            <input type="text" ng-model = "user.password">-->
            <input type="file" ng-model="filetoupload">
            <input type="submit">
        </form>





    </div>

</body>
</html>